/.idea/misc.xml
/.idea/modules.xml
/.idea/notifai_python.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/notifai_recruitment_app.iml
